{{ partial "head.html" . }}
<body id="post-index" class="feature">
{{ partial "navigation.html" . }}
<div class="entry-header">
  <div class="entry-image">
      <img src="{{ "/images/clouds.jpg" | relURL }}" alt="{{ .Title }}">
    </div><!-- /.entry-image -->
  <div class="header-title">
    <div class="header-title-wrap">
    <h1 style="margin: 0 auto;"><a href="/" title="Go to the homepage">
    <table style="width: inherit;margin: 0 auto;text-shadow: 2px 2px 20px #000; margin-top: -4rem !important;">
        <tbody><tr>
            <td style="font-size: 8rem;">{</td>
            <td>
              <table>
                <tbody><tr><td><i class="fa fa-3x fa-cloud" aria-hidden="true" style="margin: 5rem; font-size: 10rem !important;"></i></td></tr>                                
              </tbody></table>
            </td>
            <td style="font-size: 8rem;">}</td>
          </tr>
          <tr><td colspan="3" style="font-size: 40px;">
            <span class="sub-title" style="display: block;margin-top: -10rem;color: lightgreen;text-shadow: 2px 2px 8px #000;font-size: 3rem;">cloud brackets</span>
          </td></tr>
        </tbody>
        </table> 
    </a></h1>
	  <h2>{{ .Title }}</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
<ul class="entry-meta inline-list">
{{ range $key, $value := .Data.Terms }}
  	<li><a href="#{{ $key }}" class="tag"><span class="term">{{ $key }}</span> <span class="count">{{ $value.Count }}</span></a></li>
{{ end}}
</ul>

{{ $data := .Data }}
{{ range $key, $value := .Data.Terms }}
	<article>
	<h2 id="{{ $key }}" class="tag-heading">{{ $key }}</h2>
		<ul>
            {{ range $value.Pages.ByDate.Reverse }}
              <li class="entry-title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
            {{ end}}
		</ul>
	</article><!-- /.hentry -->
{{ end}}

</div><!-- /#main -->
{{ partial "foot.html" . }}
